:root {
  --primary: #F294A5;
  --secondary: #823038;
  --warning: #402F2F;
  --info: #D989B5;
  --error: #EF3826;
  --success: #00B69B;
  --background: #F2F2F2;
  --white: #FFFFFF;
  --card_title:#333;
}
